<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vlk.multimager">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activities.GalleryActivity"
            android:theme="@style/MultimagerTheme.NoActionBar"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|uiMode">
        </activity>
        <activity
            android:name=".activities.MultiCameraActivity"
            android:theme="@style/MultimagerTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d4f9088ec85f115eeba7c8499e34061bd168f69f" />
    </application>

</manifest>